#==== ARQUIVO CSV =======
CAMINHO_ARQUIVO= 


#===== BANCO DE DADOS LOCAL =======
PG_USER=
PG_PASSWORD=
PG_HOST=localhost
PG_PORT=5454
PG_DBNAME=     

# ==== NOMES DAS TABELAS ====== 

TABLE_FATO=
TABLE_DIM_ORGAO=
TABLE_DIM_UNIDADE_GESTORA=
TABLE_DIM_FUNCAO=
TABLE_DIM_PROGRAMA=
TABLE_DIM_ACAO=
TABLE_DIM_DESPESAS=
TABLE_DIM_LOCALIZACAO=

